# BA_PROJECT_2

# ATTENDANCE_RECORD

In [2]:
import numpy as np
import pandas as pd

In [3]:
#importing csv files
df1=pd.read_csv("r.csv")
df1

,For Time Table,NVU-Odd Sem,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,For Degree,2001 NVU BTECH CSE 3 SEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Attendance From,01-Jul-01,NaN,31-Dec-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Required %age attendance,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Practical,NaN,NaN,NaN,Total %age
4,NaN,NaN,NaN,NaN,AML3201,CSL2301,CSL3307,CSL4207,CSL4208,CSL4305,...,GEW1610,GEW1611,GEW1613,HUL2401,HUL3301,AMP1201,CSP1307,CSP2210,ECP1311,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,NaN,4. Any other relevant headers or details may ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,NaN,"5. Students not in the ""Make up list"" must be...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,NaN,"6. Remember, there are more such student list...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,NaN,7. A list of students finally detained will b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,NaN,8. All input and output files are required to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import random
df1.dropna(inplace=True)   #Data frame is read and all rows with any NULl VALUES  are dropped.
df1.replace(' ---',round(random.uniform(75,100),2),inplace=True)  #replacing with randon uniform
df1.head()

,For Time Table,NVU-Odd Sem,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
5,1,10123411,20012001.0,AAA AAA1,99.52,81.82,99.52,91.55,87.72,99.52,...,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,83.87
6,2,10123412,20012002.0,AAA AAA2,93.33,90,99.52,77.19,86.21,99.52,...,99.52,100,99.52,99.52,99.52,86.67,99.52,81.97,99.52,85.56
7,3,10123413,20012003.0,AAA AAA3,71.11,76.67,99.52,75.44,74.14,99.52,...,99.52,99.52,99.52,99.52,99.52,86.67,99.52,75.41,99.52,77.56
8,4,10123414,20012004.0,AAA AAA4,99.52,78.79,99.52,81.69,85.96,99.52,...,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,84.79
9,5,10123415,20012005.0,AAA AAA5,99.52,78.79,99.52,85.92,82.46,99.52,...,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,99.52,84.56

# FILTERING OUT THE STUDENT WITH LESS THAN 75%

In [5]:
import numpy as np
filtering_out=[]                           #creating filtering out empty list
for i in range(0,df1.shape[0]):
    for j in range(4,32):
        if float(df1.iloc[i].values[j])<75:
            if i not in filtering_out:
                filtering_out.append(i)      #appending in list

#print(l)
#df2.head()
#df2.describe()

# CREATING THE DATA FRAME OF THE LESS THAN 75% ATTENDANCE

In [31]:
#print(df1.columns[0])
Data_frame=[]                           #creating dataframe empty list 
make= pd.DataFrame()
for j in range(df1.shape[1]):
    for i in range(df1.shape[0]):
        if i in filtering_out:
            Data_frame.append(df1.iloc[i].values[j])
            make[df1.columns[j]]=Data_frame
            Data_frame.clear()
#make.head()

# FILTERING OUT THE STUDENT WITH MORE THAN 75%

In [32]:
filtering_out.clear()   
Data_frame.clear()

In [33]:
flag=0
for i in range(0,df1.shape[0]):
    for j in range(4,28):
        if float(df1.iloc[i].values[j])<75:
            flag = 1
            continue
        if flag == 0 :
            if i not in filtering_out:
                filtering_out.append(i)
                flag = 0 
#print(df2.columns[0])

# CREATING THE DATA FRAME OF THE MORE THAN 75%  ATTENDANCE

In [34]:
Data_frame=[]
attendance_OK= pd.DataFrame()
for j in range(df1.shape[1]):
    for i in range(df1.shape[0]):
        if i in filtering_out:
            Data_frame.append(df1.iloc[i].values[j])
            attendance_OK[df1.columns[j]]=Data_frame
            Data_frame.clear()
#attendance_OK.head()

In [35]:
make.to_csv('make.csv') #detain list
attendance_OK.to_csv('attendance_OK.csv')   #more than 75% attendence list